body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgrey;
}


#container {
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid gray;
    margin: 0 auto;
}

#cabecera {
    background-color: azure;
    padding: 1rem;
    border-radius: 10px;
}

#cabecera span {
    font-size: 20px;
}

#container h1 {
    font-size: 20px;
}